*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.aside-container{
   height: 100vh; 
   width: 25%;
   background-color: rgb(130, 167, 185);
}
.aside-container ul li{
    /* background-color: rgb(193, 211, 205); */
    height: 60px;
    font-size: 25px;
    padding: 15px;
    font-weight: 600;
}
.aside{
    
    padding-top: 80px;
    list-style: none;
    text-align: center;
}

.side-active{
    background-color: rgb(201, 198, 203);
    color: rgb(20, 130, 214);
    
}


